@import url("site.css");

@keyframes lights {
  0% {background-color: aliceblue;}
  33% {background-color: brown;}
  66% {background-color: red;}
}

<<<<<<< HEAD
@keyframes dancingHeader {
  0% {left: 0px; top: 100px}
  25% {left: 100px; top: 0px;}
  50% {left: 200px; top: 50px;}
  75% {left: 50px; top: 0px;}
  100% {left: 100px; top: 100px}
}

=======
>>>>>>> 84ab3080098544718ed0fc062d1462fe60907ea8
body {
  background-color: aliceblue;
  animation-name: lights;
  animation-duration: 0.5s;
  animation-iteration-count: infinite
}
<<<<<<< HEAD

body>header {
  display: relative;
  animation-name: dancingHeader;
  animation-duration: 8s;
  animation-iteration-count: infinite
}
=======
>>>>>>> 84ab3080098544718ed0fc062d1462fe60907ea8
