@import url("site.css");

@keyframes lights {
  0% {background-color: aliceblue;}
  33% {background-color: brown;}
  66% {background-color: red;}
}

body {
  background-color: aliceblue;
  animation-name: lights;
  animation-duration: 0.5s;
  animation-iteration-count: infinite
}
