body {
    font-family: Lucida, Arial, monospace;   
}

body>header {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    border: 3px solid salmon;
    width: 25%;
    text-align: center;
    padding: 6px;
}

header>p {
    font-weight: bold;
}